.rate-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.rate {
  font-size: max(2vh, 10pt);
  transition: .35s;
}

.rate-unchecked {
  color: #adadad;
}

.rate-checked {
  color: #A15327;
}

.rate-box:hover .rate-editable {
  color: #A15327;
}

.rate-editable:hover ~ .rate-editable {
  color: #adadad;
}
