.rate-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.rate {
  font-size: max(1rem, 10pt);
  transition: .35s;
}

.rate-unchecked {
  color: #adadad;
}

.rate-checked {
  color: #A15327;
}

.rate-box:hover .rate-editable {
  color: #A15327;
}

.rate-editable:hover ~ .rate-editable {
  color: #adadad;
}

@media (max-width: 600px) {

  .rate {
    font-size: max(3rem, 30pt);
    transition: .35s;
  }
}