.ratings {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.ratings > p {
  padding: 0 1rem;
  margin: 0;
}

.ratings > div > h1 {
  padding: 1rem 1rem 0;
}

.ratings__list__header,
.ratings__list__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 50px;
  justify-items: start;
  background-color: rgba(161, 83, 39, .2);
}

.ratings__list__row {
  padding: 1rem 0;
}

.ratings__list__row > span {
  padding: 0 1rem;
}
.ratings__list__header > span {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.ratings__list__row:nth-child(2n) {
  background-color: #FFFFFF;
}

@media (max-width: 600px) {
  .ratings {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ratings__list__header {
    display: none;
  }

  .ratings__list__row {
    grid-column: span 3;
    justify-items: center;
  }

  .ratings__list > span {
    display: none;
  }

}