.ratings {
  padding: 10px;
  display: grid;
  border-collapse: collapse;
  grid-template-columns: repeat(5, 1fr) 40px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 600px) {
  .ratings--item {
    display: none;
  }
}
