.grinders {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.grinders form {
  width: auto;
  padding: 1rem;
}

.grinders > form > div {
  display: block;
}

.grinders__list__header span {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.grinders__list__row > div,
.grinders__list__header {
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr) 50px;
  background-color: rgba(161, 83, 39, .2);
}

.grinders__list__row span,
.grinders__list__header span {
  padding: 1rem;
}

.grinders__list__row > div:nth-child(2n-1) {
  background-color: #FFFFFF;
}

@media (max-width: 600px) {
  .grinders {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grinders > form {
    display: block;
    padding: 0;
    width: 100%;
    margin: 10px;
    text-align: center;
  }

}