.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  /* flex-direction: row; */
  /* align-items: center; */
  color: #CDCDCD;
  background-color: #A15327;
}

.header__logo {
  text-decoration: none;
  align-self: center;
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  color: #CDCDCD;
}

