.addRating {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  padding: 0 1em 1em;
}

.addRating > .rate-box {
  margin: 1.5rem 0;
}

@media (max-width: 600px) {

  .addRating {
    display: block;
    padding: 0;
    margin: 10px;
    text-align: center;
  }

  .addRating > div {
    display: block;
  }

  /*.addRating > .rate-box {*/
  /*  margin: 1.5rem 3rem;*/
  /*}*/
}