.addRating {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
  align-items: center;
}

.addRating input {
  margin: 5px 0px;
  width: 80%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.addRating button {
  display: inline-block;
  margin: 3px;
  padding: 2px;
  text-align: center;
  background-color: #A15327;
  color: #CDCDCD;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
} 

@media (max-width: 600px) {

  .addRating {
    justify-items: center;
  }
  .addRating input,
  .addRating label{
    padding: 5px 2px;
    text-align: center;
    grid-column: span 2;
    align-items: center;

  }
  
  .addRating span {
    grid-column: span 2;  
    align-items: center;
  }

  .addRating button {
    grid-column: span 2;
  }
}