.coffeeEquipment {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.coffeeEquipment form {
  width: auto;
  padding: 1rem;
}

.coffeeEquipment > form > div {
  display: block;
}

.coffeeEquipment--list__header span {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.coffeeEquipment--list__row,
.coffeeEquipment--list__header {
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr) 50px;
  background-color: rgba(161, 83, 39, .2);
}

.coffeeEquipment--list__row span,
.coffeeEquipment--list__header span {
  padding: 1rem;
}

.coffeeEquipment--list__row:nth-child(2n) {
  background-color: #FFFFFF;
}

@media (max-width: 600px) {
  .coffeeEquipment {
    display: grid;
    grid-template-columns: 1fr;
  }

  .coffeeEquipment > form {
    display: block;
    padding: 0;
    width: 100%;
    margin: 10px;
    text-align: center;
  }


}